{% extends 'base.html' %}

{% block content %}
<div class="card bg-light text-dark p-4">
    <h2 class="card-title mb-3">Subscriber Dashboard</h2>
    <p class="card-text">Welcome, {{ request.user.username }}!</p>

    <div class="row mt-4 g-3">
        <div class="col-md-4">
            <a href="/leads/" class="btn btn-primary w-100">View Leads</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-success w-100">Download Leads</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-warning w-100">Profile</a>
        </div>
    </div>
</div>
{% endblock %}
